.App {
  text-align: center;
  overflow-x: hidden;
}
.card{
  margin-top: 12px;
}
.App h2{
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  display: flex;
  margin-left: 30%;
  color: #2c3e50;
  float: left;
}
.w-image{
  height: 100px;
  width: 100px;
  margin-right: 30%;
  background-color: blueviolet;

}

.spinner img {
  height: 300px;
  width: 300px;
  margin-top: 5%;
}


.btn{
  border: 2px solid blue;
  padding: 12px;
  margin-left: 5px;
  border-radius: 12px;

}
.btn:hover{
  outline: 1;
  background-color: blue;
  color: white;
}

.is_day{
  color: green;
  font-size: 22px;
}

 /* `xxl` applies to x-large devices (large desktops, less than 1400px) */
 @media (max-width: 1399.98px) { 
  .App h2{
    font-size: 30px;
  }
  .w-image{
    border-radius: 50%;
  }
  }

 /* `xl` applies to large devices (desktops, less than 1200px) */
 @media (max-width: 1199.98px) {  
  .App h2{
    margin-top: 50px;
    font-size: 70px;
    margin-left: 8%;
  }
  .w-image{
    margin-top: 9px;
    height: 150px;
    width: 150px;
    margin-right: 0%;
    border-radius: 50%;
  }
 }

 /* `lg` applies to medium devices (tablets, less than 992px) */
 @media (max-width: 991.98px) { 
  .App h2{
    margin-top: 50px;
    font-size: 70px;
    margin-left: 8%;
  }
  .w-image{
    margin-top: 9px;
    height: 150px;
    width: 150px;
    margin-right: 0%;
    border-radius: 50%;
  }
  }

  /* Samsung Landscpate 820.98 */
 @media (max-width: 820.98px) { 
  .App h2{
    margin-top: 40px;
    font-size: 40px;
    margin-left: 20%;
  }
  .w-image{
    margin-top: 15px;
    height: 100px;
    width: 100px;
    margin-right: 10%;
    border-radius: 50%;
  }
  }

 /* `md` applies to small devices (landscape phones, less than 768px) */
 @media (max-width: 767.98px) { 
  .App h2{
    margin-top: 20px;
    font-size: 60px;
    margin-left: 8%;
  }
  .w-image{
    margin-top: 9px;
    height: 100px;
    width: 100px;
    margin-right: 0%;
    border-radius: 50%;
  }
  }


 /* `sm` applies to x-small devices (portrait phones, less than 576px) */
 @media (max-width: 575.98px) { 
  .App h2{
    margin-top: 20px;
    font-size: 34px;
    margin-left: 8%;
  }
  .w-image{
    margin-top: 9px;
    height: 60px;
    width: 60px;
    margin-right: 0%;
    border-radius: 50%;
  }

  }

/* Mobile-L device*/
 @media (max-width: 425.98px) { 
  
  .App h2{
    margin-top: 20px;
    font-size: 34px;
    margin-left: 8%;

  }
  .w-image{
    margin-top: 9px;
    height: 60px;
    width: 60px;
    margin-right: 0%;
    border-radius: 50%;
  }
  .spinner img {
    height: 150px;
    width: 150px;
    margin-top: 40%;
  }
  }

/* Mobile-M device*/
 @media (max-width: 375.98px) { 
  .App h2{
    margin-top: 20px;
    font-size: 30px;
    margin-left: 6%;

  }
  .w-image{
    margin-top: 9px;
    height: 50px;
    width: 50px;
    margin-right: 0%;
  }
  }

/* Mobile-S device*/
 @media (max-width: 320.98px) { 

  .App h2{
    margin-top: 20px;
    font-size: 25px;
    margin-left: 6%;

  }
  .w-image{
    margin-top: 9px;
    height: 50px;
    width: 50px;
    margin-right: 0%;
  }

  }